{% extends 'base.html' %}
{% block title %}Iniciar Sesión{% endblock %}

{% block navbar %}
    {% include 'partials/innav.html' %}
{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Iniciar sesión</h2>
<div class="d-flex justify-content-center align-items-center" style="min-height: 20vh;">
  <form method="POST" autocomplete="off" class="p-4 border rounded shadow" style="max-width: 400px; width: 100%; background-color: #fff;">
      {{ form.hidden_tag() }}

      <div class="mb-3">
          {{ form.username.label(class="form-label") }}
          {{ form.username(class="form-control", placeholder="Usuario") }}
          {% for err in form.username.errors %}
            <div class="text-danger small">{{ err }}</div>
          {% endfor %}
      </div>

      <div class="mb-3">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control", placeholder="Contraseña") }}
          {% for err in form.password.errors %}
            <div class="text-danger small">{{ err }}</div>
          {% endfor %}
      </div>

      {{ form.submit(class="btn btn-primary w-100") }}
  </form>
</div>

{% endblock %}
